altgraph==0.16.1
colorama==0.4.4
cycler==0.10.0
et-xmlfile==1.0.1
fpdf==1.7.2
future==0.17.1
gevent==20.9.0
greenlet==0.4.17
importlib-metadata==3.3.0
jdcal==1.4.1
kiwisolver==1.1.0
matplotlib==3.0.1
numpy==1.19.4
openpyxl==3.0.5
packaging==20.8
pandas==1.1.5
pathlib2==2.3.5
pefile==2019.4.18
Pillow==6.1.0
PyInstaller==3.5
pyinstaller-hooks-contrib==2020.10
pyparsing==2.4.2
pyrsistent==0.17.3
python-dateutil==2.8.0
pytz==2020.4
pywin32==300
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyzmq==20.0.0
six==1.12.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
webencodings==0.5.1
wxPython==4.0.6
zipp==3.4.0
zope.event==4.5.0
zope.interface==5.2.0
